/*  
$gap:4vh;
$padding:4vh;
$color:#48CAE4;

mobile:480px;
tablet:768px;
desktop:1440px;

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    font-size: 25px;
}
.container {
    display: flex;
    flex-direction: column;
    gap: 4vh;
    padding-left: 10vh;
    padding-right: 10vh;
    border:2px solid red;
}
 /* header start */
 .header{
    display: flex;
    flex-direction: row;  
  
 }
 .logo{
    border:2px solid black;
    flex-grow: 1;

 }
 .navbar{
    border:2px solid green;
    flex-grow: 1;
 }
 .navbar ul {
    display: flex;
    list-style: none;
    justify-content: space-between;
 }
 .navbar img{
    display: none;
 }
 /* header end */
[class^="bolck-"] {
    display: flex;
    flex-direction: row;
    gap:4vh;
    border:2px solid rgb(0, 255, 174);
}
[class^="box-"] {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1c1c1;
    border: 2px solid #48CAE4;
    border-radius: 10px;
}

.box-6,.box-7,
.box-8,.box-9,
.box-20,.box-21,
.box-23,.box-24,
.box-a,.box-b
{
    flex-basis: 50%;
    
}
.box-3,.box-4,.box-5,
.box-10,.box-11,.box-12,
.box-13,.box-14,.box-15,
.box-17,.box-18,.box-19
{
    flex-basis: 33%;
    
}
.box-16,.box-22{
    flex-basis: 100%;
    
}

@media (max-width: 480px) {
    .container {
     
        padding-left: 2vh;
        padding-right: 2vh;
      
    }
    .bolck-0,
    .bolck-2,
    .bolck-3,
    .bolck-4,
    .bolck-5,
    .bolck-6,
    .bolck-8,
    .bolck-9,
    .bolck-11
    {
      
        flex-direction: column;
    }

    
   
}

@media (max-width: 768px) {
    .container {
        padding-left: 2vh;
        padding-right: 2vh; 
    }

    /* header start */
    .navbar ul{
        display: none;  
    }
    .navbar img{
        display: block;
        height: 40px; 
    }
    .navbar{
        border:2px solid red;
     }
     .logo{
        text-align: center;
        font-size:35px;
     }
    /* header end */
 /* 3 box can 2 box */
    .box-3,.box-4,.box-5,
    .box-10,.box-11,.box-12,
    .box-13,.box-14,.box-15,
    .box-17,.box-18,.box-19
    {
        flex-basis: 45%;
       
    }
    .bolck-2,.bolck-5,
    .bolck-6,.bolck-8
    {
        display: flex;
        flex-wrap: wrap;
    }
    /* 2 box can 1 box */
    .bolck-0,
    .bolck-3,
    .bolck-4,
    .bolck-9,
    .bolck-11
    {
        display: flex;
        flex-wrap: wrap;
    }

    .box-a,.box-b,.box-6,
    .box-7,.box-8,.box-9,
    .box-20,.box-21,.box-23,
    .box-24
    {
        flex-basis: 100%;
       
    }

}

