@media (max-width: 480px) {
    .container {
        padding-left: 1vh;
        padding-right: 1vh;
    }
    .hero,
    .featured-services,
    .about,
    .counters,
    .section-container,
    .testimonial,
    .team,
    .contact,
    .footer{

        flex-direction: column;
    }
}
